/*---S:Roboto Font---*/
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  src: url('/public/fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url('/public/fonts/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url('/public/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url('/public/fonts/roboto/Roboto-Black.ttf') format('truetype');
}

/*---E:Roboto Font---*/

/*---S:PlayerSan Font---*/
@font-face {
  font-family: 'Playpen Sans', cursive;
  font-style: normal;
  font-weight: 100;
  src: url('/public/fonts/playersan/PlaypenSans-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Playpen Sans', cursive;
  font-style: normal;
  font-weight: 300;
  src: url('/public/fonts/playersan/PlaypenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Playpen Sans', cursive;
  font-style: normal;
  font-weight: 200;
  src: url('/public/fonts/playersan/PlaypenSans-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Playpen Sans', cursive;
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/playersan/PlaypenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Playpen Sans', cursive;
  font-style: normal;
  font-weight: 500;
  src: url('/public/fonts/playersan/PlaypenSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Playpen Sans', cursive;
  font-style: normal;
  font-weight: 600;
  src: url('/public/fonts/playersan/PlaypenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Playpen Sans', cursive;
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/playersan/PlaypenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Playpen Sans', cursive;
  font-style: normal;
  font-weight: 800;
  src: url('/public/fonts/playersan/PlaypenSans-ExtraBold.ttf') format('truetype');
}
/*---E:PlayerSan Font---*/
